@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}

<li>
    <form asp-area="" asp-controller="Home" asp-action="SetLanguage"
          asp-route-returnUrl="@Context.Request.Path"
          method="post">

        <select name="culture" class="selectpicker" onchange="this.form.submit();"
                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                asp-items="cultureItems"></select>
    </form>
    @*<select class="selectpicker">
            <option>French</option>
            <option>German</option>
            <option>Italian</option>
            <option>Japanese</option>
        </select>*@
</li>

