@model IEnumerable<Cosmetics.BLL.DTO.CatalogModelDTO.CategoryDTO>

@foreach (var category in Model)
{
    <li><a asp-area="" asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a></li>
}